@media only screen and (min-width: 768px) {

    .accordian-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px 650px auto;
    }

    .accordian-content > a {
        grid-row: 1;
        grid-column: 1;  
        text-align: center;  

    }
    .accordian-content > .text-content {
        grid-column: 1;
        grid-row: 3;
    }


    .accordian-content .image-wrapper
    {
        grid-row: 2;
        grid-column: 1;
    }

    #main {
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 100px auto auto 100px auto auto;
    }

    /* principle one */
    #main > div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    #main > input:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    #main > div:nth-child(3) {
        grid-column: 1/4;
        grid-row: 3;
    }

    /* principle two */
    #main > div:nth-child(4) {
        grid-column: 2;
        grid-row: 1;
    }
    #main > input:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
    }
    #main > div:nth-child(6) {
        grid-column: 1/4;
        grid-row: 3;
    }

    /* principle three */    
    #main > div:nth-child(7) {
        grid-column: 1/end;
        grid-row: 4;
    }
    #main > input:nth-child(8) {
        grid-column: 1/end;
        grid-row: 5;
    }
    #main > div:nth-child(9) {
        grid-column: 1/4;
        grid-row: 6;
    }    
     
}