    html {
        font-size: 13px;

    }

    body {
        max-width: 100%;
        font-family: 'Oswald', sans-serif;
        overflow-y: scroll;
        margin: auto;
        background-color: #0b191d;        
    }

    #main {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        max-width: 1500px;
        margin: auto;
    }

    h1 {
        color: #cfffff;
        margin: 0;
    }

    h2 {
        color: #0b191d;
        margin: 0;
        padding: 15px;
        font-size: 1.23em;
    }
    .page-title {
        padding: 25px 3%;
    }   
    .accordian-wrapper ::-webkit-scrollbar {
        width: 10px;
    }

    .accordian-wrapper ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .accordian-wrapper ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 30px;
    }

    .accordian-wrapper ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .accordian-content>.text-content {
        color: #fff;
        line-height: 30px;
        padding: 15px 3%;
    }

    .accordian-title {
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100px;
        color: #52863b;
        text-align: center;
        position: relative;
        background: rgb(42, 125, 193);
        background: linear-gradient(0deg, rgba(42, 125, 193, 1) 0%, rgba(151, 208, 255, 1) 20%, rgba(151, 208, 255, 1) 80%, rgba(42, 125, 193, 1) 100%);
    }

    .accordian-toggle {
        min-height: 100px;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }


    .accordian-toggle h2::after {
        content: '›';
        position: absolute;
        font-size: 100px;
        left: 50%;
        transform: rotate(90deg);
        text-shadow: 0 0 3px #ffffff;
        transition: all 1.5s;
        color: #000000;     
    }

    .accordian-toggle:hover > .accordian-title > h2::after {
        text-shadow: 0 0 10px #ffffff;
        color: #fff;
    }

    .accordian-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px 450px auto;        
        overflow: hidden;
        transition: all 1s;
        max-height: 0;
        background-color: #cfffff;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00ffffff', GradientType=0);
        opacity: 0;
    }
    .accordian-content>a {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        align-self: flex-end;
        padding-bottom: 10px;
        color: #ffffff;
        font-size: 1.5rem;;
    }

    .accordian-content>.text-content {
        grid-row: 3;
        grid-column: 1;
    }

    .accordian-content .image-border {
        height: 350px;
        width: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 3px solid #efecec;
        border-radius: 25px;
    }

    .accordian-content .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: #fff;
        width: 280px;
        height: 380px;
        border-radius: 20px;
        padding-bottom: 50px;
        box-shadow: 8px 6px 0px 6px #525252;
        grid-row: 2;
        grid-column: 1;
        position: relative;
    }

    .accordian-content .image-wrapper::after {
        content: "";
        position: absolute;
        box-shadow: 0 0 5px 0 #000;
        width: 50px;
        height: 50px;
        bottom: 5px;
        border-radius: 100%;
    }

    .image-border::after {
        content: "";
        position: absolute;
        box-shadow: inset 0 0 6px 0 #000;
        width: 10px;
        height: 10px;
        top: 2px;
        right: 30px;
        border-radius: 100%;
    }

    .image-border::before {
        content: "";
        position: absolute;
        box-shadow: inset 0 0 7px 0 #040719;
        width: 8px;
        height: 8px;
        top: 3px;
        right: 43px;
        border-radius: 100%;
    }

    .accordian-content img {
        height: auto;
        width: 100%;
        transition: all 2.5s ease-in-out;
    }
    .show > .accordian-content {
        height: auto;
        max-height: 700px;
        opacity: 1;
        padding: 0 0 200px 0;
    }

    .show > .accordian-toggle > .accordian-title > h2::after {
        transform: rotate(-90deg);
        left: calc(50% - 20px);
    }
    footer {
        position: fixed;
        bottom: 0;
        background-color: #97d0ff;
        width: 100%;
        z-index: 1;
        padding: 0;
        height: 80px;
        transition: all 2s;
    }   
    .footer-wrapper {
        padding: 5px 3%;
    }
    .hide {
        height: 15px;
        padding: 0;
    }
