    html {
        font-size: 2.8vw;

    }

    body {
        max-width: 100%;
        font-family: 'Oswald', sans-serif;
    }

    #main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 50px auto 100px 50px auto 100px 50px auto;
    }

    .accordian-content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px 450px auto;
    }

    .accordian-content>a {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        align-self: flex-end;
        padding-bottom: 10px;
        color: #ffffff;
        font-size: 2rem;
    }

    .accordian-toggle:checked+.accordian-content {
        padding: 70px 0;
    }

    .accordian-content>.text-content {
        grid-row: 3;
        grid-column: 1;
    }

    .accordian-content .image-border {
        height: 350px;
        width: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 3px solid #efecec;
        border-radius: 25px;
    }

    .accordian-content .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: #fff;
        width: 280px;
        height: 380px;
        border-radius: 20px;
        padding-bottom: 50px;
        box-shadow: 8px 6px 0px 6px #525252;
        grid-row: 2;
        grid-column: 1;
        position: relative;
    }

    .accordian-content .image-wrapper::after {
        content: "";
        position: absolute;
        box-shadow: 0 0 5px 0 #000;
        width: 50px;
        height: 50px;
        bottom: 5px;
        border-radius: 100%;
    }

    .image-border::after {
        content: "";
        position: absolute;
        box-shadow: inset 0 0 6px 0 #000;
        width: 10px;
        height: 10px;
        top: 2px;
        right: 30px;
        border-radius: 100%;
    }

    .image-border::before {
        content: "";
        position: absolute;
        box-shadow: inset 0 0 7px 0 #040719;
        width: 8px;
        height: 8px;
        top: 3px;
        right: 43px;
        border-radius: 100%;
    }

    h1 {
        color: #cfffff;
        margin: 0;
        padding: 15px;
    }

    h2 {
        color: #0b191d;
        margin: 0;
        padding: 15px;
    }

    .accordian-wrapper ::-webkit-scrollbar {
        width: 10px;
    }

    .accordian-wrapper ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .accordian-wrapper ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 30px;
    }

    .accordian-wrapper ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    body {
        max-width: 1500px;
        margin: auto;
        background-color: #0b191d;
    }

    .accordian-content>.text-content {
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        padding: 15px 3%;
    }

    .accordian-title {
        font-size: 1.5rem;
        margin: auto;
        padding: 0;
        width: 100%;
        color: #52863b;
        text-align: center;
        position: relative;
        background: rgb(42, 125, 193);
        background: linear-gradient(0deg, rgba(42, 125, 193, 1) 0%, rgba(151, 208, 255, 1) 20%, rgba(151, 208, 255, 1) 80%, rgba(42, 125, 193, 1) 100%);
    }

    .accordian-toggle {
        min-height: 40px;
        display: block;
        margin: auto;
        visibility: hidden;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .accordian-toggle::before {
        content: ' ';
        position: relative;
        width: 100%;
        top: 0px;
        height: 50px;
        display: block;
        visibility: visible;
        background-color: #93d277;
        background: rgb(128, 167, 199);
        background: linear-gradient(0deg, rgba(128, 167, 199, 1) 0%, rgba(143, 157, 168, 1) 20%, rgba(100, 126, 148, 1) 100%);
    }

    .accordian-toggle::after {
        content: '›';
        position: absolute;
        font-size: 100px;
        transform: rotate(90deg);
        top: -35px;
        left: 50%;
        visibility: visible;
        text-shadow: 0 0 3px #ffffff;
        transition: all 1.5s;
        color: #000000;
    }

    .accordian-toggle:hover::after {
        text-shadow: 0 0 10px #ffffff;
        color: #fff;
    }

    .accordian-content {
        background-color: #cfffff;
        background-color: #cfffff77;
        overflow: hidden;
        transition: all 1s;
        max-height: 0;
        padding: 0 10vw;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00ffffff', GradientType=0);
        display: grid;
        opacity: 0;
    }

    .accordian-content img {
        height: auto;
        width: 100%;
        transition: all 2.5s ease-in-out;
    }


    .accordian-toggle:checked+.accordian-content {
        height: auto;
        padding: 10px 0 70px 0;
        max-height: 1300px;
        opacity: 1;
    }

    .accordian-toggle:checked::after {
        transform: rotate(-90deg);
        left: calc(50% - 20px);
    }

    /* principle one */
    #main>div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    #main>input:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    #main>div:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    /* principle two */
    #main>div:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    #main>input:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }

    #main>div:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
    }

    /* principle three */
    #main>div:nth-child(7) {
        grid-column: 1;
        grid-row: 7;
    }

    #main>input:nth-child(8) {
        grid-column: 1;
        grid-row: 8;
    }

    #main>div:nth-child(9) {
        grid-column: 1;
        grid-row: 9;
    }