@media only screen and (min-width: 1230px) {

    html,
    body {
        font-size: 18px;
    }

    main {
        max-width: 1200px;
        margin: auto;
    }

    nav ul {
        padding: 5px 100px;
        white-space: nowrap;
    }

    nav>ul>li a {
        letter-spacing: -0.025em;
    }

    nav>ul>li a:hover {
        letter-spacing: -0.025em;
    }

    .top-heading-container {
        font-size: 22px;
        padding-right: 100px;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }  
    
    .gallery-grid img {
        transition: 1s all ease-in-out;
        border: 1px solid #000;    
    }
    
    .gallery-grid img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 0 #000;
        border-radius: 5px;
    }
}