:root {
    --dark-1: rgba(11, 32, 39, 1);
    --dark-2: rgb(53, 100, 116);
    --accent-1: rgb(70 120 110 / 1);
    --light-1: rgb(255 255 255);
    --light-2: rgba(207, 215, 199, 1);
    --dark-border: 10px double rgba(11, 32, 39, 1);
    --white-gradient: linear-gradient(120deg, #fdfbfb 0%, #cfd7c7 100%);
}

/* --charleston-green: #0b2027ff; rgba(11, 32, 39, 1); */
/* --teal-blue: #40798cff;  rgba(64, 121, 140, 1); */
/* --green-sheen: #70a9a1ff;  rgba(112, 169, 161, 1); */
/* --ash-gray: #cfd7c7ff;  rgba(207, 215, 199, 1); */
/* --beige: #f6f1d1ff; rgba(246, 241, 209, 1); */

/*********************/
/* All Pages         */
/*********************/
html,
body {
    max-width: 100%;
    font-size: 14px;
    color: var(--dark-1);
    font-family: 'Merriweather', serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.05rem;
    margin: .25rem 0;
}

h2 {
    font-size: 1.75em;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.025rem;
    margin: .25rem 0;
}

h3 {
    font-size: 1.5em;
    margin: .25rem 0;
}

h4 {
    font-size: 1.2em;
    margin: .25rem 0;
}

p {
    margin: .5rem 0;
}

strong {
    font-weight: 900;
}

em {
    font-size: 0.9rem;
}

.big {
    font-size: 1.1rem;
}

small {
    font-size: 0.7rem;
}

a {
    color: var(--accent-1);
    text-decoration: none;
    text-decoration-color: rgba(112, 169, 161, 1);
    letter-spacing: -0.025rem;
}

footer a {
    color: var(--light-1);
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    font-family: 'Rubik', sans-serif;
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
}

div {
    box-sizing: border-box;
}

.top-bar {
    background-color: var(--accent-1);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 15px 5px;
    height: auto;
    font-size: 10px;
}

#logo {
    max-height: 100%;
    border-style: none;
    box-sizing: border-box;
    padding: 5px;
    align-self: center;
    height: 80px;
    width: auto;
}

.top-heading-container {
    margin-left: 5%;
}

.site-title {
    align-self: center;
}

footer {
    background-color: var(--accent-1);
    color: #fff;
    border-top: var(--dark-border);
    text-align: center;
    padding: 50px 3%;
}

/*********************/
/* Common Navigation */
/*********************/
nav {
    height: auto;
    background-color: var(--accent-1);
    transition: all 1.5s;
    width: 100%;
    top: 0;
}

nav ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    height: 0;
    max-height: 0;
    transition: all 1s;
    overflow: hidden;
    padding: 0 0;
    width: 100%;
    min-height: 0;
    display: flex;
}

.nav-open li {
    height: auto;
    max-height: 200px;
    min-height: 40px;
}

.nav-open li a {
    opacity: 1;
}

#mobile-toggle {
    font-size: 32px;
    color: #fff;
    text-align: right;
    max-height: 100px;
    background-color: transparent;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: relative;
    right: 10px;
}

nav>ul>li a {
    text-decoration: none;
    width: 100%;
    right: 0;
    margin: auto;
    position: relative;
    opacity: 0;
    display: block;
    transition: max-height 1.5s, opacity .5s;
}

.nav-open>ul>li.active {
    background-image: var(--white-gradient);
    pointer-events: none;
}

.nav-open>ul>li.active a {
    color: var(--dark-1);
}

nav>ul>li a:hover {
    width: 100%;
    left: 0;
}

nav>ul>li>a:hover:before {
    content: "«";
    margin-right: 15px;

}

nav>ul>li>a:hover:after {
    content: "»";
    margin-left: 15px;
}

nav a,
nav a:visited {
    color: var(--light-1);
}

/* Preston */
.hero-box {
    position: relative;
}

.hero-box>img {
    width: 100%;
}

.detailed-weather {
    border: 5px double rgb(53, 100, 116);
    border-radius: 20px;
    margin: 15px 5px;
}

.five-day h3 {
    padding: 15px;
    margin: 0;
}

.five-forecast {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
}

.forcast-day {
    background-color: rgba(53, 100, 116, .75);
    margin: 15px 5px;
    padding: 0 25px 25px;
    border: 3px solid #0b2027;
    border-top-left-radius: 30px;
    border-top-right-radius: 15px;
    position: relative;
}

.forcast-day>p>img {
    width: 50px;
    display: block;
}

.forcast-day:nth-child(even) {
    background-color: rgba(11, 32, 39, .75);
    border: 3px solid #0b2027;
    border-top-left-radius: 30px;
    border-top-right-radius: 15px;
}

.forcast-day>p>span {
    float: right;
}

.forcast-day>p>.day-of-week {
    position: relative;
    top: -20px;
}

.weather-summary {
    position: relative;
    background-color: rgba(207, 215, 199, 0.85);
    height: auto;
    color: var(--dark-1);
    width: 100%;
    padding: 20px;
    border: 3px solid #46786e;
    box-shadow: 0px 3px 9px 3px #000;
    border-radius: 5px;
}

.weather-summary>h3 {
    padding-bottom: 5px;
    border-bottom: 5px double #000;
    border-radius: 100px;
    text-align: center;
}

.weather-summary ul {
    list-style: none;
    line-height: 38px;
    font-size: 1.2rem;
    padding: 15px 0 15px 15px;
    width: 100%;
    margin: auto;
}

article {
    margin: 0 15px;
}