:root {
    --dark-1: rgba(11, 32, 39, 1);
    --dark-2: rgb(53, 100, 116);
    --accent-1: rgb(70 120 110 / 1);
    --light-1: rgb(255 253 240);
    --light-2: rgba(207, 215, 199, 1);
    --dark-border: 10px double rgba(11, 32, 39, 1);
    --white-gradient: linear-gradient(120deg, #fdfbfb 0%, #cfd7c7 100%);
}

/* --charleston-green: #0b2027ff; rgba(11, 32, 39, 1); */
/* --teal-blue: #40798cff;  rgba(64, 121, 140, 1); */
/* --green-sheen: #70a9a1ff;  rgba(112, 169, 161, 1); */
/* --ash-gray: #cfd7c7ff;  rgba(207, 215, 199, 1); */
/* --beige: #f6f1d1ff; rgba(246, 241, 209, 1); */

/*********************/
/* All Pages         */
/*********************/
html,
body {
    max-width: 100%;
    font-size: 14px;
    color: var(--dark-1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.05rem;
    margin: .25rem 0;
}

h2 {
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.025rem;
    margin: .25rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: .25rem 0;
}

h4 {
    font-size: 1.2rem;
    margin: .25rem 0;
}

p {
    margin: .5rem 0;
}

strong {
    font-weight: 900;
}

em {
    font-size: 0.9rem;
}

.big {
    font-size: 1.1rem;
}

small {
    font-size: 0.7rem;
}

a {
    color: var(--light-2);
    text-decoration: none;
    text-decoration-color: rgba(112, 169, 161, 1);
    letter-spacing: -0.025rem;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    font-family: 'Rubik', sans-serif;
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
}

div {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.top-bar {
    background-color: var(--accent-1);
    width: 100%;
    display: grid;
    grid-template: 1fr / 3fr 5fr 0fr;
    text-align: center;
    color: #fff;
    position: relative;
    height: 100px;
    padding: 0 5px;
    align-items: center;
}

.cta {
    display: none;
    width: 33%;
    padding-right: 15px;
    text-align: right;
}

.cta a {
    color: var(--light-1);
}

#logo {
    max-height: 100%;
    border-style: none;
    height: auto;
}

.site-title {
    align-self: center;
    width: 100%;
    font-size: 1.6rem;
}

.weather-summary {
    position: relative;
    background-color: var(--light-1);
    height: auto;
    width: 100%;
    padding: 20px;
    border: 3px solid #46786e;
    box-shadow: 0px 3px 9px 3px #000;
    border-radius: 5px;
}

.hero-box {
    position: relative;
}

.weather-summary .carousel-wrapper {
    position: relative;
    height: 100%;
}

.weather-summary .carousel-wrapper>div {
    height: 0;
    overflow: hidden;
}

.weather-summary .carousel-wrapper>.active {
    height: 100%;
}

.weather-summary .carousel img {
    max-height: 60px;
    height: 100%;
    margin-right: 30px;
    float: left;
}

.weather-summary .bottom-section {
    display: grid;
    grid-template: 100% / 2fr 10fr 2fr;
    align-items: center;
}

.detailed-weather {
    border: 5px double rgb(53, 100, 116);
    border-radius: 20px;
    margin: 15px 5px;
}

.five-day {
    background-image: url(../images/fiveday.jpg);
    background-size: cover;
    color: #fff;
}

.five-day h3 {
    padding: 15px;
    margin: 0;
}

.five-forecast {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
}

.forcast-day {
    background-color: rgba(53, 100, 116, .75);
    margin: 15px 5px;
    padding: 0 25px 25px;
    border: 3px solid #0b2027;
    border-top-left-radius: 30px;
    border-top-right-radius: 15px;
    position: relative;
}

.forcast-day>p>img {
    width: 50px;
    display: block;
}

.forcast-day:nth-child(even) {
    background-color: rgba(11, 32, 39, .75);
    border: 3px solid #0b2027;
    border-top-left-radius: 30px;
    border-top-right-radius: 15px;
}

.forcast-day>p>span {
    float: right;
}

.forcast-day>p>.day-of-week {
    position: relative;
    top: -20px;
}

.bottom-section p {
    font-weight: 600;
}

.next,
.prev {
    font-size: 2rem;
    transition: all 1.5s;
    cursor: pointer;
    color: var(--dark-2);
}

.next {
    text-align: right;
}

.next:hover,
.prev:hover {
    color: var(--accent-1);
    text-shadow: 0px 0px 5px #000;
}

#friday-notice {
    width: 100%;
    padding: 30px;
    background-color: var(--accent-1);
    color: #fff;
    margin: 15px 0;
    border: var(--dark-border);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
}

.preston article .article-content {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.preston article {
    padding: 25px;
}

.preston article iframe {
    display: none;
}

.preston article img {
    max-height: 300px;
}

footer {
    background-color: var(--accent-1);
    color: #fff;
    border-top: var(--dark-border);
    text-align: center;
    padding: 25px 25px;
}

.footer-cta {
    text-align: left;
    display: block;
    width: 100%;
}

footer .map {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
footer .map iframe{
    width: 100%;
    height: 300px;
}

footer .social-media {
    display: flex;
    list-style: none;
    padding: 0;
}
footer .social-media > li {
    margin: 5px 15px;
    max-width: 50px;
}
footer .social-media > li > a > img {
    border-radius: 100px;
    transition: .5s all;
}
footer .social-media > li:hover > a > img {
    border-radius: 0;
    box-shadow: 0 0 10px 0 #fff;
}

footer .social-media > li:first-of-type {
    margin-left: 0;
}

.footer-cta > p > a {
    position: relative;
    margin-left: 20px;
}

.footer-cta > p > a::before {
    content: "";
    position: absolute;    
    height: 30px;
    width: 30px;
    background-size: cover;    
    left: -40px;
}



footer .address {
    display: none;
}

footer .address::before {
    background-image: url(../images/pin.png);
    top: -12px;
}

footer .phone::before {
    background-image: url(../images/phone.png);
    top: -6px;
}

footer .email::before {
    background-image: url(../images/email.png);
    top: -3px;
}

#logo-body {
    margin: 15px auto 0;
    max-width: 300px;
}

/*********************/
/* Common Navigation */
/*********************/
nav {
    height: auto;
    background-color: var(--accent-1);
    transition: all 1.5s;
    width: 100%;
    min-height: 100px;
    top: 0;
}

nav ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    height: 0;
    max-height: 0;
    transition: all 1s;
    padding: 0 0;
    width: 100%;
    min-height: 0;
    display: flex;
}

.absolute {
    position: absolute;
}

.nav-open li {
    height: auto;
    max-height: 600px;
    min-height: 40px;
}

.nav-open li a {
    opacity: 1;
}

.nav-open li:first-child {
    padding: 0;
}

nav li:first-child {
    font-size: 32px;
    color: #fff;
    text-align: right;
    height: auto;
    max-height: 100px;
    background-color: transparent;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: relative;
    right: 10px;
}

nav>ul>li a {
    text-decoration: none;
    width: 100%;
    right: 0;
    margin: auto;
    position: relative;
    opacity: 0;
    display: block;
    transition: max-height 1.5s, opacity .5s;
}

.nav-open>ul>li.active {
    background-image: var(--white-gradient);
    pointer-events: none;
}

.nav-open>ul>li.active a {
    color: var(--dark-1);
}

nav>ul>li a:hover {
    width: 100%;
    left: 0;
}

nav>ul>li>a:hover:before {
    content: "«";
    margin-right: 15px;

}

nav>ul>li>a:hover:after {
    content: "»";
    margin-left: 15px;
}

nav a,
nav a:visited {
    color: var(--light-1);
}

/************************/
/* Color Classes        */
/************************/
.light1-bg {
    background-color: var(--light-1);
    color: var(--dark-1);
}

.light2-bg {
    background-color: var(--light-2);
    color: var(--dark-1);
}

.accent1-bg {
    background-color: var(--accent-1);
    color: #fff;
}

.dark1-bg {
    background-color: var(--dark-1);
    color: #fff;
}

.dark2-bg {
    background-color: var(--dark-1);
    color: #fff;
}

.white-bg {
    background-color: #fff;
    color: var(--dark-1);
}

.light-gradient-bg {
    background-color: #eee;
    background-image: var(--white-gradient);
    color: var(--dark-1);
}

/************************/
/* Target Audience Page */
/************************/
#target-audience>section {
    background-color: var(--light-1);
    color: var(--dark-1);
    padding: 1% 3%;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 3px 0px 4px #555;
}

/*********************/
/* Color Scheme Page */
/*********************/
.color-grid {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    grid-gap: 1%;
}

.color-column {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
}

.cell-1 {
    background-color: var(--dark-1);
}

.cell-2 {
    background-color: var(--dark-2);
}

.cell-3 {
    background-color: var(--accent-1);
}

.cell-4 {
    background-color: var(--light-1);
}

.cell-5 {
    background-color: var(--light-2);
}

.cell-7 {
    background-color: var(--dark-1);
    color: var(--light-1);
}

.cell-8 {
    background-color: var(--dark-2);
    color: #ffffff;
}

.cell-9 {
    background-color: var(--accent-1);
    color: #ffffff;
}

.cell-10 {
    background-color: var(--light-1);
    color: var(--dark-1);
}

.cell-11 {
    background-color: var(--light-2);
    color: var(--dark-1);
}

.cell-12 {
    background-color: var(--accent-1);
    color: #ffffff;
}

@media only screen and (min-width: 500px) {
    .five-forecast {
        grid-template: repeat(3, 1fr) / 1fr 1fr;
    }
}